{% extends 'aplicacion/index.html' %}

{% block titulo%}
<h1>Reseñas </h1>
{% endblock titulo%}

{% block contenido%}


<h2>Dejate llevar por las opiniones de nuestros expertos y planificá tu próxima salida siguiendo sus recomendaciones</h2>



{% block filtrar%}
<a class="btn btn-primary btn-sm" href="/buscar_resenas">Filtrar Búsqueda</a></div>
{% endblock filtrar%}

{% block agregar%}
<a class="btn btn-primary btn-sm" href="/resena_form">Agregar Reseña</a></div>
{% endblock agregar%}

<span style="display: inline-block; height: 50px; width: 100px;"></span>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Autor</th>
            <th>Bodegon</th>
            <th>Contenido</th>
            <th>Fecha</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
    {% for c in resenas  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.autor }}</td>
            <td>{{ c.bodegon }}</td>
            <td>{{ c.contenido }}</td>
            <td>{{ c.fecha }}</td>
            <td>
                <a
                  href="{% url 'resena_update' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'resena_delete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>   

        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock contenido%}

{% block cards%}
{% endblock cards%}