{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5">Acerca de mi</h1>
{% endblock titulo %}

{% block contenido %}

<!-- Presentación-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://img.freepik.com/foto-gratis/mujer-tiro-medio-comiendo-comida-deliciosa_23-2148972798.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">¡Bienvenido a BBBodegueando!</h1>
            <p>Mi nombre es Mariana Cervetto, tengo 28 años, nacida y criada en Buenos Aires. Uno de mis pasatiempos favoritos es compartir experiencias con mis amigos y familiares, y creo firmemente que no hay mejor forma de hacerlo que con un buen plato de comida de por medio. Muchos restaurantes ya no son lo que eran antes: música fuerte, porciones pequeñas o precios excesivamente altos pueden arruinar el momento... pero si hay algo que nunca falla son los clásicos y confiables bodegones. ¡Te invitamos a leer nuestras reseñas para que tu próxima salida sea un éxito!</p>
        </div>
    </div>

{% endblock contenido %}

{% block cards%}
{% endblock cards%}
